apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api-deployment
  labels:
    app: student-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-api
  template:
    metadata:
      labels:
        app: student-api
    spec:
      containers:
      - name: student-api
        image: adithyasairam19/student-mgmt-backend:1.0
        ports:
        - containerPort: 3000
        env:
        - name: JWT_SECRET
          value: "k8s-secret"
