apiVersion: v1
kind: Service
metadata:
  name: student-api-service
spec:
  type: NodePort
  selector:
    app: student-api
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30080
